*{
    box-sizing: border-box
}
body{
    display: grid;
    grid-template-columns: repeat(8 , 1fr);
    grid-template-rows: repeat(13 , 1fr);
    width: 98vw;
    font-family: Roboto, sans-serif;
}
h1{
    color: #419388;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    grid-area: 1 / 1 / 2 / -1;
    background-color: black;
}
a{
    text-decoration: none;
}
a:link{
    color: white;
}
a:visited{
    color: white;
}
header a:hover{
    background-color: grey;
    margin-left:-20px;
    padding:20px;
;
}
ul{
    list-style-type: none;
}
header li{
    display: inline-block;width:100px;
    margin-left: -20px;

}
nav{
    background-color: lightgrey;
    padding: 1em;
    grid-area: 2 / 1 / -1 / 2;
}
nav li{
    margin-left: -40px;
    padding-top: 1em;
}
main{
    padding: 1em;
    grid-area: 2 / 2 / -4 / -3;
    display: grid;
    grid-template-rows: repeat(3 , 1fr);
}
aside{
    grid-area: 2 / -3 / -4 / -1;
    display: grid;
    grid-template-rows: repeat(3 , 1fr);
}
aside p{
    border: 1px solid grey;
}
aside section{
    text-align: center;
}
aside .small{
    padding: 1.5em 0;
}
aside .big{
    padding: 3em 0;
}
footer{
    grid-area: 11 / 2 / -1 / -1;
    display: grid;
    grid-template-rows: 40% 40% 20%;
    grid-gap: 0;
}
footer ul{
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    justify-content: center;
}
footer li{
    display: inline-block;width: 50px;
    padding: 1em;
    text-decoration: none;
}
footer a:visited{
    color: black;
}
footer a:hover{
    background-color: black;
    color: white;
    padding: 5px;
    margin-left: -4px;
}
footer .foot{
    grid-area: 2 / 2 / 3 / -1;
    background-color: #666666;
    color: white;
    display: flex;
    align-items: center;
    padding: 1em;
    margin: 0;
}
footer .by{
    grid-area: 3 / 2 / 4 / -1;
    background-color: #262626;
    color: white;
    display: flex;
    align-items: center;
    padding: 1em;
    font-size: small;
    margin: 0;
}
span{
    text-decoration: underline;
}