* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*mobile*/
@media screen and (max-width:768px){
    body{
        width: 100%;
    }
    .header-img{
        width: 100%;
    }
    img{
        width: 100%;
    }
    h1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        margin-top: 16px;

    }
    .alert-info {
        /*grid-area: 1 / 1 / 2 / -1;*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid gray;
        padding-bottom: 1em;
        padding-top: 1em;
        background-color: #CCF4F5;

    }
    li {
        margin: .5em;
        padding: 1em;
        background-color: gray;
        text-align: center;
    }

    .nav-links {
        display: grid;
        list-style-type: none;
    }

    ul {
        display: inline-flex;

    }
    body div a {
        text-decoration: none;
    }
    .sub-section {
    }
    .main {
        width: 100%;
    }
    footer {
        margin: 10px;
    }
    body div a:link {
        color: black;
    }
}


/*desktop*/
@media screen and (min-width: 769px){
    body{
        margin: 1em;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: .5fr 2fr 1fr 1fr .5fr;
    }
    h1 {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        align-items: center;
        font-size: 50px;
        margin-right: auto;
        margin-bottom: 35px;

    }
    .nav-links{
        grid-area: 1 / 2 / 2 / -1;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        margin-left: auto;
    }
    li{
        background-color: white;
        margin-top: 32px;
    }
    .header-img{
        display: inline-block;
        width: 90%;
        grid-area: 2 / 1 / 4 / -1;
    }
    img{
        max-width: 1385px;
    }
    .main{
        grid-area: 4 / 1 / 5 / 2;
    }
    .sub-section{
        grid-area: 4 / -2 / 5 / -1;
    }
    .hidden-on-desktop {
        display: none;
    }
    footer{
        grid-area: 5 / 1 / 6 / -1;
    }
    h2{
        padding: 15px 15px 15px 0;


    }
}

