*{
    margin: 0;
}
html{
    box-sizing: border-box;
    /*margin: 0;*/
    /*padding: 0;*/
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    z-index: 2;
    height: 100vh;
    /*position: fixed;*/
    background-color: silver;
    /*background-repeat: no-repeat;*/
    background: linear-gradient(
            to left bottom,
            rgba(224, 224, 224, 0.8),
            rgba(138, 138, 138, 0.8)), top;
}
footer{
    margin-bottom: 0;
}
.header {
    height: 93vh;
    background-size: cover;
    background: linear-gradient(
            to left top,
            rgba(205, 119, 248, 0.8),
            rgba(40, 180, 131, 0.8)),
    url(../img/codeup-stitch.png) top;
    background-size: cover;
    position: relative;
    clip-path: polygon(0 0, 100% 92%, 100% 0);
}
.heading-primary{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
}
.heading-primary-main{
    display: block;
    float: right;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-timing-function: ease-out;
}
.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 17.5px;
    margin-bottom: 33px;

    animation-name: moveInRight;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-timing-function: ease-out;
    }
.row{
    margin: 0;
}
.col-6{
    margin-left: auto;
}
.carousel-item{
     transition: transform 5s ease, opacity 1s ease-out
 }
.toggle-icon{
    height: 30px;
}



.inner-box {
    background: #09c999;
    padding: 1em;
    border-radius: 30px;
    clip-path: circle(7% at 6% 50%);
    transition: all .5s ease-in-out;
    cursor: pointer;
    margin-left: 7px;
    margin-top: -316px;
    z-index: 1000;
}
.inner-box:hover, .hov-clicked {
    clip-path: circle(80%);
    background: #00B6FF;
}
.inner-box h1 {
    color: white;
    margin: 0;
}
.inner-box p {
    color: white;
    font-size: .8rem;
}
.inner-box .d-name {
    color: white;
    font-weight: bold;
    transition: color .5s;
    position: relative;
    margin-right: 10%;
}
.inner-box:hover .d-name {
    color: rgba(255, 255, 255, 0);
}
.curriculum{
    height: 48px;
    width: 48px;
}
.footer-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#directory {
    margin-top: 33px;
}

/*.directory-circle{*/
    /*height: 150px;*/
    /*width: 150px;*/
    /*border-radius: 75px;*/
    /*background-color: darkcyan;*/
    /*z-index: 1000;*/
/*}*/
/*.dcirc-one{*/
    /*margin-top: -549px;*/
/*}*/
/*.directory i{*/
    /*height: 50px;*/
/*}*/

@media screen and (max-width: 569px){

    .center-menu {
        height: 50%;
        display: block;
        position: absolute;
        width: 100%;
    }
    .menu {
        position: absolute;
        top: 20%;
        left: 50%;
    }
    .menu a {
        position: absolute;
        left: calc(50% - 10px);
        top: 25px;
        opacity: 0;
        visibility: hidden;

        transition: opacity 0.2s linear,
        top 0.2s linear,
        left 0.2s linear,
        visibility 0.2s linear;
    }

    .menu-open:checked~.menu a {
        visibility: visible;
        opacity: 1;
    }

    .menu-open:checked~.menu a:nth-child(1) {
        left: calc(50% - 50px);
        top: 32px;
    }
    .menu-open:checked~.menu a:nth-child(2) {
        left: calc(50% - 37.28px);
        top: 57.28px;
    }
    .menu-open:checked~.menu a:nth-child(3) {
        left: calc(50% - 10px);
        top: 67px;
    }
    .menu-open:checked~.menu a:nth-child(4) {
        left: calc(50% + 17.28px);
        top: 57.28px;
    }
    .menu-open:checked~.menu a:nth-child(5) {
        left: calc(50% + 30px);
        top: 32px;
    }

    /* Checkbox */
    .menu-open {
        display: none;
    }
    .menu-button {
        width: 50px;
        height: 50px;
        margin: auto;
        display: block;
        box-sizing: border-box;
        padding: 10px;

        position: absolute;
        left: calc(50% - 25px);
        top: calc(20% + 8px);

        cursor: pointer;
        background: #eaeaea;
        border: 1px solid #b9bbbd;
        box-shadow: 0px 3px 0px 1px #b9bbbd,
        inset 0px 2px 8px 5px #c9cbcd;
        border-radius: 50px;
    }
    .menu-button:hover {
        background: #fafaea;
    }

    /* Menu items */
    a.icon {
        display: inline-block;
        cursor: pointer;

        /* I'm serious about hiding */
        font-size: 0px;
        color: rgba(0,0,0,0);
    }
    a.icon:before {
        position: absolute;
        top: 3px;
        color: #2020a0;
        font-size: 16px;
    }
    a.icon:hover:before {
        color: #4040c0;
    }
}

@media screen and (min-width: 570px){

    @keyframes moveInLeft {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }
        80% {
            transform: translateX(10px);
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
    @keyframes moveInRight {
        0% {
            opacity: 0;
            transform: translateX(100px);
        }
        80% {
            transform: translateX(-10px);
        }
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }


}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}
/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 834px)
and (max-device-width: 1112px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 834px)
and (max-device-width: 834px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 1112px)
and (max-device-width: 1112px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 1366px)
and (max-device-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {

}
/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 800px)
and (max-device-width: 1280px)
and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Portrait */
@media only screen
and (min-device-width: 800px)
and (max-device-width: 1280px)
and (-webkit-min-device-pixel-ratio: 1.5)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 800px)
and (max-device-width: 1280px)
and (-webkit-min-device-pixel-ratio: 1.5)
and (orientation: landscape) {

}

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Portrait */
@media only screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1.5)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1.5)
and (orientation: landscape) {

}
/* ----------- lap-top Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {
}

