body{
    text-align: center;
    background-color: cornsilk;
    font-family: 'Pacifico', cursive ;
}
h2{
    color: aqua;
}
h1,h2{
    text-shadow: 1px 1px black;
    text-decoration: underline;
}
table{
    width: 100%;
    table-layout: fixed;
}
th{
    /*color: aqua;*/
    border: 1px solid black;
    width: 100%;
    height: 50%;
    /*padding: 20px  20px;*/
    background-color: rosybrown;

}
ul{
    color: blue;
    /*text-shadow: 1px 1px black;*/
    list-style-type: none;
}
h1.fancy-header{
    color: mediumpurple;

}
header{
    text-align: center;
}
a:hover{
    color: greenyellow;
}
a:visited{
    color: brown;
}
#top:hover{
    color: darkblue;
}
.process{
    list-style: none;
    background: url("../img/honeycomb.svg") center;
}
.lefty{
    text-align: left;
    padding-left: 10px;
}
.righty{
    text-align: right;
    padding-right: 10px;
}
