body{
    text-align: center;
    background-color: cornsilk;
    font-family: 'Courgette', cursive;
    background-image: url(../img/bridge.jpg);
}
header{
    text-align: center;
}
header img{
    float: left;
}
h1.fancy-header{
    color: mediumpurple;
}
h2{
    color: aqua;
}
h2:hover{
    color: mediumpurple;
}
h1,h2{
    text-shadow: 1px 1px black;
    text-decoration: underline;
}
table{
    width: 100%;
    table-layout: fixed;
}
th{
    border: 1px solid black;
    width: 100%;
    height: 50%;
    background-color: rosybrown;
}
th:hover{
    color: white;
}
td,footer,nav{
    text-shadow: 1px 1px 3px white, -1px -1px 3px white;
}
td:hover{
    color: orangered;
}
ul{
    list-style-type: none;
    color: blue;
    text-shadow: 1px 1px white;
}
ul li:before{
    content: '✓';
}
a:hover{
    color: orangered;
}
a:visited{
    color: brown;
}
#top:hover{
    color: darkblue;
}
.lefty{
    text-align: left;
    padding-left: 10px;
}
.righty{
    text-align: right;
    padding-right: 10px;
}
.middle,.righty{
    list-style-position: inside ;
}

