*{
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: repeat(27 , 30px);
    grid-template-rows: repeat(20 , 30px);
}
div{
    display: flex;
    margin-top: -5px;
}
.purple{
    display: flex;
    color: mediumpurple;
}
.green{
    color: #739A46;
}
.dkgreen{
    color: #4C5A31;
}
.first{grid-area: 1 / 1 / 2 / -1}